body{
    background-color: black;
    min-height: 100vh;
}

header{
    display: flex;
    height: 20vh;
    border: 2px solid white;
}

main{
    height: 60vh;
    border: 2px solid white;
}

footer{
    height: 20vh;
    border: 2px solid white;
}

h1{
    color: white;
    letter-spacing: 1px;
    padding-left: 30px;
    font-family: fantasy;
}

h2{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 40px;
    background-color: white;
    font-family: fantasy;
    border: 2px solid white;
}

div{
    display: flex;
    flex-direction: row ;
    align-items: center;
}

img{
    width: 100px;
    height: 100px;
    padding-left: 20px;
}

#login{
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    width: 100px;
    height: 50px;
    box-shadow: 1px 1px 10px red;
    border: red;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 900;
    transition: 0.7s;
    align-items: center;
    
}

#login:hover{
    background-color: rgb(75, 7, 7);
    color: white;
}
