@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body{
    background-color: black;
    min-height: 100vh;
}
    
header{
    display: flex;
    justify-content: space-between;
    min-height: 20vh;
    border: 2px solid white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 80vh;
    border: 2px solid white;
}

h1{
    color: white;
    letter-spacing: 0.2rem;
    padding-left: 2.1rem;
    font-family: 'Protest Guerrilla', sans-serif;
}

h2{
    color: rgb(0, 0, 0);
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    background-color: white;
    font-family: 'Protest Guerrilla', sans-serif;
    border: 0.2rem solid white;
}

#logo{
    display: flex;
    flex-direction: row ;
    align-items: center;
}

.login-button{
    width: 8rem;
}

#carro-esporte{
    width: 6rem;
    height: 6rem;
    padding-left: 1rem;
    animation-name: car;
    animation-duration: 2.5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes car{
    0% {top: 0; left: 0;}
    100% {top: 0; left: 50rem;}
}

.login-button{
    display: flex;
    flex-direction: row ;
    align-items: center;
}

#login{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 6rem;
    height: 3rem;
    box-shadow: 0.1rem 0.1rem 1.4rem red;
    border: red;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    font-weight: 900;
    transition: 0.7s;
    align-items: center;
}

#login:hover{
    background-color: rgb(75, 7, 7);
    color: white;
}

#button-bsc{
    box-shadow: 0.1rem 0.1rem 1.4rem red;
    border: red;
    cursor: pointer;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    margin: 0.5rem;
    transition: 0.7s;
}

#button-bsc:hover{
    background-color: rgb(75, 7, 7);
    color: white;
}

input{
    width: 30rem;
    font-size: 1.2rem;
    padding: 0.7rem 1.4rem;
    margin: 5px;
}

input:focus{
    box-shadow: 0.1rem 0.1rem 1.4rem red;
    border: red;
    outline: none;
}

a{
    color: white;
    font-size: 1.8rem;
}

.navbar{
    display: none;
}

@media (max-width:800px) {
    h1{
        color: white;
        font-size: 30px;
        letter-spacing: 0.2rem;
        padding-left: 1.5rem;
        font-family: 'Protest Guerrilla', sans-serif;
        align-items: center;
    }
    
    h2{
        align-items: center;
        color: rgb(0, 0, 0);
        letter-spacing: 0.2rem;
        font-size: 30px;
        background-color: white;
        font-family: 'Protest Guerrilla', sans-serif;
        border: 0.2rem solid white;
    }

   .login-button{
    display: none;
   }

   .navbar{
    display: flex;
   }

   #carro-esporte{
    display: none;
   }

   #offcanvasNavbar{
    margin: 0;
    border: 2px solid white;
   }

   #offcanvas-header{
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
   }

   #burguer{
    background-color: white;
    border: 2px solid white;
    box-shadow: 0.1rem 0.1rem 1.4rem red;
    transition: all 0.7s;
   }

   #burguer:hover{
    background-color: rgb(75, 7, 7);
    border: 2px solid rgb(75, 7, 7);
   }

   h5{
    color: white;
    letter-spacing: 0.2rem;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 25px;
   }

   h6{
    color: rgb(0, 0, 0);
    letter-spacing: 0.2rem;
    font-size: 25px;
    background-color: white;
    font-family: 'Protest Guerrilla', sans-serif;
    border: 0.2rem solid white;
   }

   #button-bsc{
    box-shadow: 0.1rem 0.1rem 1.4rem red;
    border: red;
    cursor: pointer;
    font-family: 'Protest Guerrilla', sans-serif;
    height: 45px;
    font-size: 1.2rem;
    padding: 10px 10px;
    margin: 0.5rem;
    transition: 0.7s;
    }

    #button-bsc:hover{
    background-color: rgb(75, 7, 7);
    color: white;
    }

    input{
        width:330px;
        height: 45px;
        font-size: 1.2rem;
        padding: 10px 10px;
        margin: 1px;
    }
    
    input:focus{
        box-shadow: 0.1rem 0.1rem 1.4rem red;
        border: red;
        outline: none;
    }

    #login-navbar{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    #login{
        width: 210px;
        height: 70px;
        font-size: 25px;
    }
    
}

@media (max-width:460px){
        h1{
        color: white;
        font-size: 20px;
        letter-spacing: 0.2rem;
        padding-left: 1.5rem;
        font-family: 'Protest Guerrilla', sans-serif;
        align-items: center;
        }
    
        h2{
        align-items: center;
        color: rgb(0, 0, 0);
        letter-spacing: 0.2rem;
        font-size: 20px;
        background-color: white;
        font-family: 'Protest Guerrilla', sans-serif;
        border: 0.2rem solid white;
        }

        .login-button{
        display: none;
       }
    
       .navbar{
        display: flex;
       }
    
       #carro-esporte{
        display: none;
       }
    
       #offcanvasNavbar{
        margin: 0;
        border: 2px solid white;
       }
    
       #offcanvas-header{
        border: 2px solid white;
        display: flex;
        justify-content: space-evenly;
       }
    
       #burguer{
        background-color: white;
        border: 2px solid white;
        box-shadow: 0.1rem 0.1rem 1.4rem red;
        transition: all 0.7s;
       }
    
       #burguer:hover{
        background-color: rgb(75, 7, 7);
        border: 2px solid rgb(75, 7, 7);
       }
    
       h5{
        color: white;
        letter-spacing: 0.2rem;
        font-family: 'Protest Guerrilla', sans-serif;
        font-size: 25px;
       }
    
       h6{
        color: rgb(0, 0, 0);
        letter-spacing: 0.2rem;
        font-size: 25px;
        background-color: white;
        font-family: 'Protest Guerrilla', sans-serif;
        border: 0.2rem solid white;
       }

       .tela{
        display: flex;
        align-items: center;
       }
    
       #button-bsc{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0.1rem 0.1rem 1.4rem red;
        border: red;
        cursor: pointer;
        font-family: 'Protest Guerrilla', sans-serif;
        text-align: center;
        height: 35px;
        width: 60px;
        font-size: 13px;
        padding: 10px 10px;
        margin: 0.1rem;
        transition: 0.7s;
        }
    
        #button-bsc:hover{
        background-color: rgb(75, 7, 7);
        color: white;
        }
    
        input{
            width:200px;
            height: 35px;
            font-size: 1.2rem;
            padding: 15px 15px;
            margin: 2px;
        }
        
        input:focus{
            box-shadow: 0.1rem 0.1rem 1.4rem red;
            border: red;
            outline: none;
        }
    
        #login-navbar{
            display: flex;
            justify-content: center;
            padding: 20px;
        }
    
        #login{
            width: 210px;
            height: 70px;
            font-size: 25px;
        }
        
}